h1{
  color: pink;
  border-style: dotted;
  display: inline-block;
  padding: 20px;
  text-align: center;

}
h2{
  color: yellow;
  border-style: ridge;
  text-align: center;
  display:block;
}
p{
  text-decoration: underline;
}
#go{
  text-align: center;
  text-decoration: underline;
  color:yellow;
}
body {background-color:tomato; }

}
